@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Futura PT";
    src: url("/fonts/FuturaPT/FuturaPT-Medium.eot");
    src: local("Futura PT Medium"), local("FuturaPT-Medium"),
      url("/fonts/FuturaPT/FuturaPT-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/FuturaPT/FuturaPT-Medium.woff") format("woff"),
      url("/fonts/FuturaPT/FuturaPT-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Futura PT Cond";
    src: url("/fonts/FuturaPT/FuturaPTCond-Medium.eot");
    src: local("Futura PT Cond Medium"), local("FuturaPTCond-Medium"),
      url("/fonts/FuturaPT/FuturaPTCond-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/FuturaPT/FuturaPTCond-Medium.woff") format("woff"),
      url("/fonts/FuturaPT/FuturaPTCond-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Futura PT Book";
    src: url("/fonts/FuturaPT/FuturaPT-Book.eot");
    src: local("Futura PT Book"), local("FuturaPT-Book"),
      url("/fonts/FuturaPT/FuturaPT-Book.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/FuturaPT/FuturaPT-Book.woff") format("woff"),
      url("/fonts/FuturaPT/FuturaPT-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Futura PT Cond";
    src: url("/fonts/FuturaPT/FuturaPTCond-Bold.eot");
    src: local("Futura PT Cond Bold"), local("FuturaPTCond-Bold"),
      url("/fonts/FuturaPT/FuturaPTCond-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/FuturaPT/FuturaPTCond-Bold.woff") format("woff"),
      url("/fonts/FuturaPT/FuturaPTCond-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Futura PT";
    src: url("/fonts/FuturaPT/FuturaPT-Light.eot");
    src: local("Futura PT Light"), local("FuturaPT-Light"),
      url("/fonts/FuturaPT/FuturaPT-Light.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/FuturaPT/FuturaPT-Light.woff") format("woff"),
      url("/fonts/FuturaPT/FuturaPT-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Futura PT Cond Extra";
    src: url("/fonts/FuturaPT/FuturaPTCond-ExtraBold.eot");
    src: local("Futura PT Cond Extra Bold"), local("FuturaPTCond-ExtraBold"),
      url("/fonts/FuturaPT/FuturaPTCond-ExtraBold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/FuturaPT/FuturaPTCond-ExtraBold.woff") format("woff"),
      url("/fonts/FuturaPT/FuturaPTCond-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Futura PT Demi";
    src: url("/fonts/FuturaPT/FuturaPT-Demi.eot");
    src: local("Futura PT Demi"), local("FuturaPT-Demi"),
      url("/fonts/FuturaPT/FuturaPT-Demi.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/FuturaPT/FuturaPT-Demi.woff") format("woff"),
      url("/fonts/FuturaPT/FuturaPT-Demi.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Futura PT Cond Book";
    src: url("/fonts/FuturaPT/FuturaPTCond-Book.eot");
    src: local("Futura PT Cond Book"), local("FuturaPTCond-Book"),
      url("/fonts/FuturaPT/FuturaPTCond-Book.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/FuturaPT/FuturaPTCond-Book.woff") format("woff"),
      url("/fonts/FuturaPT/FuturaPTCond-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Futura PT";
    src: url("/fonts/FuturaPT/FuturaPT-Bold.eot");
    src: local("Futura PT Bold"), local("FuturaPT-Bold"),
      url("/fonts/FuturaPT/FuturaPT-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/FuturaPT/FuturaPT-Bold.woff") format("woff"),
      url("/fonts/FuturaPT/FuturaPT-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Futura PT Extra";
    src: url("/fonts/FuturaPT/FuturaPT-ExtraBold.eot");
    src: local("Futura PT Extra Bold"), local("FuturaPT-ExtraBold"),
      url("/fonts/FuturaPT/FuturaPT-ExtraBold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/FuturaPT/FuturaPT-ExtraBold.woff") format("woff"),
      url("/fonts/FuturaPT/FuturaPT-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }
}

* {
  font-family: "Futura PT", Arial, Helvetica, sans-serif;
}
